/* Fonts */

@font-face {
  font-family: "Cuprum";
  src: url(../fonts/cuprum.woff2) format("woff2"),
    url(../fonts/cuprum.woff) format("woff");

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url(../fonts/cuprumbold.woff2) format("woff2"),
    url(../fonts/cuprumbold.woff) format("woff");

  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url(../fonts/cuprumbolditalic.woff2) format("woff2"),
    url(../fonts/cuprumbolditalic.woff) format("woff");

  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans.woff2) format("woff2"),
    url(../fonts/ptsans.woff) format("woff");

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsansbold.woff2) format("woff2"),
    url(../fonts/ptsansbold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  /* Index */

  --basic-color: #FFFFFF;
  --basic-color-hover: rgba(197, 197, 197, 0.3);
  --basic-color-active: rgba(169, 169, 169, 0.3);
  --accent-color: #32425C;
  --accent-color-dark: #293449;
  --accent-color-active: #161D29;
  --button-color: #EE3643;
  --button-color-hover: #CA2C37;
  --button-color-active: #BA2732;
  --main-title-bg: #F9F5F0;
  --content-bg: #F1F5F7;
  --color-details: #63A63E;
  --color-details-hover: #5FBB2D;
  --color-details-active: #518534;
  --bg-img: #A9A9A9;
  --footer-link-color: #FFDA96;
  --text-color: #000000;
  --text-color-opacity: rgba(0, 0, 0, 0.3);
  --text-color-active: #C5C5C5;
  --link-color-active: rgba(255, 255, 255, 0.5);

  --color-materials: #FFBF47;
  --color-instruments: #3BBCE3;
  --color-technics: #DC91D8;
  --color-discount: #8ED78F;
  --color-delivery: #FFC047;
  --promo-link-color: rgba(255, 255, 255, 0.3);

  /*Catalog*/

  --catalog-title-bg: #F7F3EC;
  --border-color: #E5E5E5;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--basic-color);
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.list-item {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.btn {
  background: var(--button-color);
  text-transform: uppercase;
  color: var(--basic-color);
  font-size: 14px;
  line-height: 18px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background: var(--button-color-hover);
}

.btn:active {
  background: var(--button-color-active);
}

.title {
  font-size: 30px;
  line-height: 30px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--text-color);
}

.main-title {
  background: var(--main-title-bg);
  padding: 25px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-title .title {
  color: var(--accent-color);
  margin: 0;
}

/* Header */

.main-header {
  background: var(--content-bg);
  padding-bottom: 59px;
}

.top-header {
  background: var(--accent-color-dark);
}

.top-header .container {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  background: var(--button-color);
  min-height: 47px;
  margin-bottom: -5px;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.header-logo img {
  margin: 12px 55px 17px;
}

.header-logo:active {
  background: var(--button-color-active);
}

.search {
  flex-grow: 1;
  position: relative;
}

.search svg {
  position: absolute;
  top: 13px;
  left: 17px;
  opacity: 0.3;
}

.search input {
  background: var(--accent-color-dark);
  color: var(--basic-color);
  height: 100%;
  width: 100%;
  padding-left: 42px;
  border: none;
  outline: none;
}

.search input:hover + svg, .search input:focus + svg {
  opacity: 1;
}

.search input:focus {
  background: var(--basic-color);
  color: var(--text-color);
}

.search input:focus + svg path {
  fill: #EE3643;
}

.top-nav-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.item-bookmark, .item-cart, .item-order {
  padding: 0 25px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.item-bookmark, .item-cart {
  padding-left: 50px;
}

.item-bookmark::before,
.item-cart::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 14px;
  left: 25px;
  opacity: 0.3;
}

.item-bookmark::before {
  background: url("../img/icon-bookmark.svg") no-repeat 0 0;
}

.item-cart::before {
  background: url("../img/icon-cart.svg") no-repeat 0 0;
}

.item-bookmark:hover::before,
.item-cart:hover::before {
  opacity: 1;
}

.item-bookmark:active {
  background: var(--accent-color-active);
  color: var(--link-color-active);
}

.item-cart:active {
  color: var(--link-color-active);
}

.item-order {
  background: var(--color-details);
}

.item-order:hover {
  background: var(--color-details-hover);
}

.item-details:active {
  opacity: 0.5;
}

.middle-header {
  padding: 46px 0 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-text {
  color: var(--button-color);
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.number {
  border: 2px solid var(--basic-color);
  color: var(--button-color);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  padding: 8px 45px 8px 74px;
  position: relative;
}

.number::before {
  content:"";
  position: absolute;
  top: 13px;
  left: 40px;
  width: 18px;
  height: 19px;
  background: url(../img/icon-phone.svg) no-repeat 0 0;
}

.address {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 24px;
}

.user-nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.user-login,
.user-reg {
  background: var(--basic-color);
  color: var(--text-color);
  font-size: 21px;
  line-height: 21px;
  padding: 12px 24px;
  margin-left: 10px;
}

.user-login {
  padding-left: 45px;
  position: relative;
}

.user-login::before {
  content:"";
  position: absolute;
  top: 14px;
  left: 19px;
  width: 20px;
  height: 17px;
  background: url(../img/icon-login.svg) no-repeat 0 0;
}

.user-login:hover,
.user-reg:hover {
  color: var(--button-color-hover);
}

.user-login:hover::before {
  background: url(../img/icon-login-hover.svg) no-repeat 0 0;
}

.user-login:active,
.user-reg:active {
  color: var(--text-color-active);
}

.nav-list {
  background: var(--accent-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.site-link {
  display: block;
  padding: 20px 25px;
}

.site-link:hover {
  background: var(--accent-color-dark);
}

.site-link:active {
  background: var(--accent-color-active);
  color: var(--link-color-active);
}

/* Promo */

.promo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 940px;
  min-height: 409px;
  padding: 59px 0;
}

.materials {
  background-color: var(--color-materials);
  background-image: url(../img/icon-1.svg);
  position: relative;
}

.instruments {
  background: var(--color-instruments);
  background-image: url(../img/icon-2.svg);
}

.technics {
  background: var(--color-technics);
  background-image: url(../img/icon-3.svg);
}

.discount {
  background: var(--color-discount);
  background-image: url(../img/icon-4.svg);
}

.delivery {
  background: var(--color-delivery);
  background-image: url(../img/icon-5.svg);
}

.promo-item {
  box-sizing: border-box;
  padding: 22px;
  background-repeat: no-repeat;
  background-position: 85% 50%;
  overflow: hidden;
}

.new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: -25px;
  transform: rotate(45deg);
}

.promo-slider {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.promo-title {
  color: var(--basic-color);
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 12px;
}

.promo-link {
  background: var(--promo-link-color);
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  padding: 10px;
  width: 135px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.promo-link:hover {
  background: var(--basic-color-hover);
}

.promo-link:active {
  background: var(--basic-color-active);
}

/* Promo slider */

.promo-slider {
  margin: 0;
  padding: 0;
  width: 620px;
  height: 266px;
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  grid-template-rows: 104px 1fr 80px;
}

.btn-back {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  visibility: hidden;
  cursor:pointer;
  position: relative;
}

.btn-back::before {
  content:"";
  position: absolute;
  top: 5px;
  left: 10px;
  width: 21px;
  height: 39px;
  visibility: visible;
  background: url(../img/icon-next.svg) no-repeat 0 0;
}

.btn-next {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  visibility: hidden;
  cursor:pointer;
  position: relative;
}

.btn-next::before {
  content:"";
  position: absolute;
  top: 5px;
  right: 10px;
  width: 21px;
  height: 39px;
  visibility: visible;
  background: url(../img/icon-back.svg) no-repeat 0 0;
}

.slider-item {
  list-style-type: none;
  background: var(--bg-img);
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  min-height: 266px;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.slider-img {
  grid-column: 1 / 4;
  grid-row: 1 / -1;
}

.slider-desc {
  color: var(--basic-color);
  padding: 24px 23px 0;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  order: 1;
}

.slider-desc p {
  margin: 0;
}

.slider-btn {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  margin: 24px 24px 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-title {
  color: var(--basic-color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}

/* Popular products */

.btn-title {
  width: 192px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-list {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  margin: 20px 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.products-item {
  list-style-type: none;
  border: 1px solid;
  border-color: var(--border-color);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 20px;
}

.img-block {
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-item:hover,
.manufacturers-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.manufacturers-item:active {
  opacity: 0.5;
}

.products-item:hover .img-block {
  display: none;
}

.products-item:hover .btn-block {
  display: block;
}

.pdoruct-img {
  max-width:200px;
}

.btn-block {
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  width: 100%;
  height: 170px;
  display: block;
  padding-top: 38px;
  display: none;
}

.btn-buy,
.btn-bookmark {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 135px;
  padding: 12px 0;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 2px;
}

.btn-buy {
  color: var(--basic-color);
  background: var(--color-details);
  box-shadow: inset 0px -3px 0px #367315;
}

.btn-buy:hover {
  background: var(--color-details-hover);
}

.btn-buy:active {
  background: var(--color-details-active);
}

.btn-bookmark {
  color: var(--accent-color);
  border: 3px solid var(--color-details);
  background: var(--basic-color);
}

.btn-bookmark:hover {
  border-color: var(--accent-color);
}

.btn-bookmark:active {
  border-color: var(--accent-color);
  opacity: 0.5;
}

.product-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--text-color);
  width: 180px;
  text-align: center;
}

.old-price {
  color: var(--bg-img);
  margin-bottom: 13px;
  font-weight: bold;
}

.new-price {
  color: var(--basic-color);
  background: var(--button-color);
  background: url(../img/shape.png) no-repeat 100% 0;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 47px 10px 32px;
  border-radius: 2px;
}

/* Popular manufacturers*/

.manufacturers-item {
  list-style-type: none;
}

.manufacturers-list {
  margin: 20px 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.manufacturers-link {
  min-height: 145px;
  border: 1px solid;
  border-color: var(--border-color);
  background: var(--basic-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Services */

.services {
  background: var(--content-bg);
  padding: 60px 0;
}

.text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.btn-services {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-color);
  background: var(--accent-color);
  border: none;
  border-bottom: 1px solid #293449;
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.service-buttons {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 200px;
  gap: 80px;
  margin: 80px 0;
}

.btn-list {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.services-desc {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background: var(--content-bg);
  display: none;
}

.services-desc .text {
  width: 300px;
}

.service-buttons .title {
  color: var(--accent-color);
  margin: 0;
}

.btn-list {
  display: grid;
  position: relative;
}

.btn-list::after {
  content:"";
  position: absolute;
  top: -40px;
  right: 0;
  width: 10px;
  height: 279px;
  background: url(../img/service-line.png) no-repeat 0 0;
}

.btn-services.active {
  background: var(--basic-color);
  color: var(--accent-color);
  box-shadow: none;
}

.btn-services.active:hover {
  background: var(--basic-color);
}

.btn-services:hover {
  background: var(--accent-color-dark);
}

.wrapper-sections {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 60px 0;
}

.service-delivery {
  background: url(../img/bg-dostavka.png) no-repeat 100% 0;
}

.service-assurance {
  background: url(../img/bg-garantiya.png) no-repeat 100% 0;
}

.service-credit {
  background: url(../img/bg-credit.png) no-repeat 100% 0;
}

.services-desc.active {
  display: block;
}

.wrapper-sections {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}

.wrapper-sections .title {
  margin: 10px 0;
}

.main-contacts, .about-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.about-us {
  width: 460px;
}

.about-us-btn {
  width: 220px;
}

.wrapper-sections .btn {
  padding: 10px 0;
}

.trans-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.trans-list li {
  position: relative;
  padding-left: 47px;
  margin-bottom: 10px;
}

.trans-list li::before {
  content: "";
  width: 25px;
  height: 2px;
  background: var(--button-color);
  position: absolute;
  top: 12px;
  left: 0;
}

/* Footer */

.main-footer {
  background: var(--accent-color);
  color: var(--basic-color);
}

.footer-logo {
  background: var(--button-color);
  width: 220px;
  min-height: 68px;
  margin-bottom: -5px;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link:hover,
.footer-link:hover {
  text-decoration: underline;
}

.nav-link:active,
.footer-link:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-link {
  color: var(--footer-link-color);
}

.footer-number {
  color: var(--basic-color);
}

.bottom-footer {
  background: var(--accent-color-dark);
}

.bottom-footer .container {
  display: grid;
  grid-template-columns: 260px 200px auto auto;
  gap: 60px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.social-link {
  background-color: var(--accent-color-active);
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin: 1px;
}

.social-link:hover {
  background-color: var(--button-color);
}

.link-vk {
  background-image: url(../img/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.link-fb {
  background-image: url(../img/icon-fb.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.link-inst {
  background-image: url(../img/icon-insta.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.bottom-footer .footer-link:active {
  text-decoration: none;
  color: var(--button-color);
  opacity: 1;
}

.top-footer,
.middle-footer {
  display: grid;
  grid-template-columns: 320px 1fr;
}

.footer-nav,
.service-nav {
  display: flex;
  justify-content: space-between;
}

.user-form {
  display: none;
}

/* Catalog */

.profile {
  background: var(--basic-color);
}

.profile-link {
  color: var(--text-color);
}

.link-orders,
.link-cp {
  color: var(--accent-color);
  font-size: 16px;
  line-height: 18px;
}

.catalog .wrapper-catalog {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 20px;
}

.wrapper-catalog .products-list {
  grid-template-columns: repeat(3, 1fr);
}

/* Breadcrumbs */

.breadcrumbs {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  padding: 0;
}

.item-crumbs {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style-type: none;
  padding: 0 17px;
}

.item-crumbs:first-child {
  padding-left: 0;
}

.link-crumbs {
  color: var(--text-color);
}

.catalog-title {
  background: var(--content-bg);
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.catalog-title .title {
  color: var(--accent-color);
}

/* Filter */

.filter {
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: min-content auto;
}

.filter,
.sort,
.filter-title {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  font-style: normal;
}

.sort,
.filter-title {
  background: var(--catalog-title-bg);
}

.filter-title {
  grid-row: 1 / 2;
  padding: 0 15px;
  margin: 0;
  min-height: 44px;
  /* line-height: 44px;*/
}

.sort {
  box-sizing: border-box;
  padding: 0 15px;
  display: grid;
  grid-template-columns: 205px 380px 45px;
  gap: 20px;
}

.sort-title {
  grid-column: 1 / 2;
}

.sort-list {
  padding: 0;
  grid-column: 2 / 3;
  display: flex;
  justify-content: flex-start;
}

.sort-item {
  margin-right: 50px;
}

.scroll-list {
  padding: 0;
  grid-column: 3 / 4;
  display: flex;

}

.filter-set {
  border: none;
  border-bottom: 1px solid;
  border-color: var(--border-color);
  padding: 0 0 15px 0;
}

.filter-set ul {
  padding: 0;
  margin: 0;
}

.set-title {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  margin: 15px 0;
}

.filter-btn {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  font-style: normal;
  color: var(--text-color);
  background: var(--basic-color);
  border: 1px solid;
  border-color: var(--border-color);
}

/* Сортировка */

.sort-item,
.scroll-item {
  list-style-type: none;
}

.sort-btn {
  color: var(--text-color-opacity);
  border-bottom: 1px dotted;
  border-color: var(--button-color);
}

.sort-btn:hover {
  color: var(--text-color);
  border-bottom: 1px solid;
  border-color: var(--button-color);
}

.scroll-btn {
  color: var(--text-color-opacity);
}

.scroll-btn:hover {
  color: var(--text-color);
}

.sort-btn.active,
.scroll-btn.active {
  color: var(--button-color);
  border: none;
}

/* Пагинация */

.pagination {
  padding: 0;
  margin: 50px 0 60px;
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  gap: 10px;
}

.pag-item {
  list-style-type: none;
}

.pag-link {
  color: var(--text-color);
  border: 1px solid;
  border-color: var(--border-color);
  box-sizing: border-box;
  border-radius: 2px;
  padding: 8px 15px;
}

.pag-link:hover {
  border-color: var(--text-color-active);
}

.pag-link:active {
  border-color: var(--button-color);
}

.pag-link.active {
  background: var(--button-color);
  color: var(--basic-color);
}

/* Статья */

.article {
  background: var(--content-bg);
  padding: 65px 0;
}


