/* Fonts */

@font-face {
  font-family: "Cuprum";
  src: url(../fonts/cuprum.woff2) format("woff2"),
    url(../fonts/cuprum.woff) format("woff");

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url(../fonts/cuprumbold.woff2) format("woff2"),
    url(../fonts/cuprumbold.woff) format("woff");

  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url(../fonts/cuprumbolditalic.woff2) format("woff2"),
    url(../fonts/cuprumbolditalic.woff) format("woff");

  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans.woff2) format("woff2"),
    url(../fonts/ptsans.woff) format("woff");

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsansbold.woff2) format("woff2"),
    url(../fonts/ptsansbold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  /* Index */

  --basic-color: #FFFFFF;
  --basic-color-hover: rgba(197, 197, 197, 0.3);
  --basic-color-active: rgba(169, 169, 169, 0.3);
  --accent-color: #32425C;
  --accent-color-dark: #293449;
  --accent-color-active: #161D29;
  --button-color: #EE3643;
  --button-color-hover: #CA2C37;
  --button-color-active: #BA2732;
  --main-title-bg: #F9F5F0;
  --content-bg: #F1F5F7;
  --color-details: #63A63E;
  --color-details-hover: #5FBB2D;
  --color-details-active: #518534;
  --bg-img: #A9A9A9;
  --footer-link-color: #FFDA96;
  --text-color: #000000;
  --text-color-opacity: rgba(0, 0, 0, 0.3);
  --text-color-active: #C5C5C5;
  --link-color-active: rgba(255, 255, 255, 0.5);

  --color-materials: #FFBF47;
  --color-instruments: #3BBCE3;
  --color-technics: #DC91D8;
  --color-discount: #8ED78F;
  --color-delivery: #FFC047;
  --promo-link-color: rgba(255, 255, 255, 0.3);

  /*Catalog*/

  --catalog-title-bg: #F7F3EC;
  --border-color: #E5E5E5;


}

/* Global */

body {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--basic-color);
}

.page-body {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.list-item {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.btn {
  background: var(--button-color);
  text-transform: uppercase;
  color: var(--basic-color);
  font-size: 14px;
  line-height: 18px;
  border: none;
}

.btn:hover {
  background: var(--button-color-hover);
}

.btn:active {
  background: var(--button-color-active);
}

.title {
  font-size: 30px;
  line-height: 30px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--text-color);
}

.main-title {
  background: var(--main-title-bg);
  padding: 25px 15px;
  display: flex;
  justify-content: space-between;
}

.main-title .title {
  color: var(--accent-color);
  margin: 0;
}

/* Header */

.main-header {
  background: var(--content-bg);
  padding-bottom: 59px;
}

.top-header {
  background: var(--accent-color-dark);
}

.top-header .container {
  display: grid;
  grid-template-columns: 220px 280px 1fr;
}

.header-logo {
  background: var(--button-color);
}

.header-logo:active {
  background: var(--button-color-active);
}

.search input {
  background: var(--accent-color-dark);
  color: var(--basic-color);
}

.search input:focus {
  background: var(--basic-color);
}

.header-logo:active {
  background: var(--button-color--hover);
}

.item-bookmark:active {
  background: var(--accent-color-active);
  color: var(--link-color-active);
}

.item-cart:active {
  color: var(--link-color-active);
}

.item-order {
  background: var(--color-details);
}

.item-order:hover {
  background: var(--color-details-hover);
}

.item-details:active {
  opacity: 0.5;
}

.top-nav-list {
  display: flex;
}

.header-text {
  color: var(--button-color);
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.number {
  border: 2px solid var(--basic-color);
  color: var(--button-color);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}

.address {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 24px;
}

.user-login,
.user-reg {
  background: var(--basic-color);
  color: var(--text-color);
  font-size: 21px;
  line-height: 21px;
}

.user-login:hover,
.user-reg:hover {
  color: var(--button-color-hover);
}

.user-login:active,
.user-reg:active {
  color: var(--text-color-active);
}

.middle-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav-list {
  background: var(--accent-color);
  margin: 0;
  padding: 0;
  display: flex;
}

.site-link {
  display: block;
  padding: 20px 25px;
}

.site-link:hover {
  background: var(--accent-color-dark);
}

.site-link:active {
  background: var(--accent-color-active);
  color: var(--link-color-active);
}

/* Promo */

.promo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*grid-template-rows: repeat(3, 1fr);*/
  gap: 20px;
  min-height: 409px;
  padding: 59px 0;
}

.materials {
  background: var(--color-materials);
  /*grid-column: 1/3;
  grid-row: 1/2;*/
}

.instruments {
  background: var(--color-instruments);
  /*grid-column: 3/5;
  grid-row: 1/2;*/
}

.technics {
  background: var(--color-technics);
  /*grid-column: 5/7;
  grid-row: 1/2;*/
}

.discount {
  background: var(--color-discount);
  /*grid-column: 5/7;
  grid-row: 2/3;*/
}

.delivery {
  background: var(--color-delivery);
  /*grid-column: 5/7;
  grid-row: 3/4;*/
}

.promo-slider {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.promo-title {
  color: var(--basic-color);
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.promo-link {
  background: var(--promo-link-color);
  font-size: 14px;
  line-height: 18px;
}

.promo-link:hover {
  background: var(--basic-color-hover);
}

.promo-link:active {
  background: var(--basic-color-active);
}

/* Promo slider */

.promo-slider {
  margin: 0;
  padding: 0;
  width: 620px;
  height: 266px;
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  grid-template-rows: 104px 1fr 80px;
}

.btn-back {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.btn-next {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.slider-item {
  list-style-type: none;
  background: var(--bg-img);
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 104px 1fr 80px;
}

.slider-img {
  grid-column: 1 / 4;
  grid-row: 1 / -1;
}

.slider-desc {
  color: var(--basic-color);
  padding: 24px 23px 0;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  order: 1;
}

.slider-desc p {
  margin: 0;
}

.slider-btn {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  margin: 15px 24px 27px;
}

.slider-title {
  color: var(--basic-color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}

/* Popular products */

.products-list {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  margin: 20px 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.products-item {
  list-style-type: none;
  border: 1px solid;
  border-color: var(--border-color);
}

.btn-block {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.btn-buy {
  color: var(--basic-color);
  background: var(--color-details);
}

.btn-buy:hover {
  background: var(--color-details-hover);
}

.btn-buy:active {
  background: var(--color-details-active);
}

.btn-bookmark {
  color: var(--accent-color);
  border: 3px solid var(--color-details);
  background: var(--basic-color);
}

.btn-bookmark:hover {
  border-color: var(--accent-color);
}

.btn-bookmark:active {
  border-color: var(--accent-color);
  opacity: 0.5;
}

.product-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--text-color);
}

.old-price {
  color: var(--bg-img);
}

.new-price {
  color: var(--basic-color);
  background: var(--button-color);
  text-decoration: none;
}

/* Popular manufacturers*/

.manufacturers-item {
  list-style-type: none;
  min-height: 145px;
  border: 1px solid;
  border-color: var(--border-color);
  background: var(--basic-color);
}

.manufacturers-list {
  margin: 20px 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* Services */

.services {
  background: var(--content-bg);
  padding: 60px 0;
}

.text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.btn-services {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-color);
  background: var(--accent-color);
  border: none;
}

.service-buttons {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 200px;
  gap: 80px;
  margin: 80px 0;
}

.btn-list {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.services-desc {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background: var(--content-bg);
}

.service-buttons .title {
  color: var(--accent-color);
  margin: 0;
}

.btn-list {
  display: grid;
}

.btn-services.active {
  background: var(--basic-color);
  color: var(--accent-color);
}

.btn-services.active:hover {
  background: var(--basic-color);
}

.btn-services:hover {
  background: var(--accent-color-dark);
}

.wrapper-sections {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 60px 0;
}


/* Footer */

.main-footer {
  background: var(--accent-color);
  color: var(--basic-color);
}

.footer-logo {
  background: var(--button-color);
}

.nav-link:hover,
.footer-link:hover {
  text-decoration: underline;
}

.nav-link:active,
.footer-link:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-link {
  color: var(--footer-link-color);
}

.footer-number {
  color: var(--basic-color);
}

.bottom-footer {
  background: var(--accent-color-dark);
}

.bottom-footer .container {
  display: grid;
  grid-template-columns: 260px 260px auto auto;
  gap: 60px;
}

.social-link {
  background: var(--accent-color-active);
}

.social-link:hover {
  background: var(--button-color);
}

.bottom-footer .footer-link:active {
  text-decoration: none;
  color: var(--button-color);
  opacity: 1;
}

.top-footer,
.middle-footer {
  display: grid;
  grid-template-columns: 320px 1fr;
}

.footer-nav,
.service-nav {
  display: flex;
  justify-content: space-between;
}

/* Catalog */

.profile {
  background: var(--basic-color);
}

.profile-link {
  color: var(--text-color);
}

.link-orders,
.link-cp {
  color: var(--accent-color);
  font-size: 16px;
  line-height: 18px;
}

.catalog .wrapper-catalog {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 20px;
}

.wrapper-catalog .products-list {
  grid-template-columns: repeat(3, 1fr);
}

/* Breadcrumbs */

.breadcrumbs {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  padding: 0;
}

.item-crumbs {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style-type: none;
  padding: 0 17px;
}

.item-crumbs:first-child {
  padding-left: 0;
}

.link-crumbs {
  color: var(--text-color);
}

.catalog-title {
  background: var(--content-bg);
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.catalog-title .title {
  color: var(--accent-color);
}

/* Filter */

.filter {
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: min-content auto;
}

.filter,
.sort,
.filter-title {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  font-style: normal;
}

.sort,
.filter-title {
  background: var(--catalog-title-bg);
}

.filter-title {
  grid-row: 1 / 2;
  padding: 0 15px;
  margin: 0;
  min-height: 44px;
  /* line-height: 44px;*/
}

.sort {
  box-sizing: border-box;
  padding: 0 15px;
  display: grid;
  grid-template-columns: 205px 380px 45px;
  gap: 20px;
}

.sort-title {
  grid-column: 1 / 2;
}

.sort-list {
  padding: 0;
  grid-column: 2 / 3;
  display: flex;
  justify-content: flex-start;
}

.sort-item {
  margin-right: 50px;
}

.scroll-list {
  padding: 0;
  grid-column: 3 / 4;
  display: flex;

}

.filter-set {
  border: none;
  border-bottom: 1px solid;
  border-color: var(--border-color);
  padding: 0 0 15px 0;
}

.filter-set ul {
  padding: 0;
  margin: 0;
}

.set-title {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  margin: 15px 0;
}

.filter-btn {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  font-style: normal;
  color: var(--text-color);
  background: var(--basic-color);
  border: 1px solid;
  border-color: var(--border-color);
}

/* Сортировка */

.sort-item,
.scroll-item {
  list-style-type: none;
}

.sort-btn {
  color: var(--text-color-opacity);
  border-bottom: 1px dotted;
  border-color: var(--button-color);
}

.sort-btn:hover {
  color: var(--text-color);
  border-bottom: 1px solid;
  border-color: var(--button-color);
}

.scroll-btn {
  color: var(--text-color-opacity);
}

.scroll-btn:hover {
  color: var(--text-color);
}

.sort-btn.active,
.scroll-btn.active {
  color: var(--button-color);
  border: none;
}

/* Пагинация */

.pagination {
  padding: 0;
  margin: 50px 0 60px;
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  gap: 10px;
}

.pag-item {
  list-style-type: none;
}

.pag-link {
  color: var(--text-color);
  border: 1px solid;
  border-color: var(--border-color);
  box-sizing: border-box;
  border-radius: 2px;
  padding: 8px 15px;
}

.pag-link:hover {
  border-color: var(--text-color-active);
}

.pag-link:active {
  border-color: var(--button-color);
}

.pag-link.active {
  background: var(--button-color);
  color: var(--basic-color);
}

/* Статья */

.article {
  background: var(--content-bg);
  padding: 65px 0;
}
