/* Fonts */

@font-face {
  font-family: "Cuprum";
  src: url(../fonts/cuprum.woff2) format("woff2"),
    url(../fonts/cuprum.woff) format("woff");

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url(../fonts/cuprumbold.woff2) format("woff2"),
    url(../fonts/cuprumbold.woff) format("woff");

  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url(../fonts/cuprumbolditalic.woff2) format("woff2"),
    url(../fonts/cuprumbolditalic.woff) format("woff");

  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans.woff2) format("woff2"),
    url(../fonts/ptsans.woff) format("woff");

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsansbold.woff2) format("woff2"),
    url(../fonts/ptsansbold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  /* Index */

  --basic-color: #FFFFFF;
  --basic-color-hover: rgba(197, 197, 197, 0.3);
  --basic-color-active: rgba(169, 169, 169, 0.3);
  --accent-color: #32425C;
  --accent-color-dark: #293449;
  --accent-color-active: #161D29;
  --button-color: #EE3643;
  --button-color-hover: #CA2C37;
  --button-color-active: #BA2732;
  --main-title-bg: #F9F5F0;
  --content-bg: #F1F5F7;
  --color-details: #63A63E;
  --color-details-hover: #5FBB2D;
  --color-details-active: #518534;
  --color-details-shadow: #367315;
  --bg-img: #A9A9A9;
  --footer-link-color: #FFDA96;
  --text-color: #000000;
  --text-color-opacity: rgba(0, 0, 0, 0.3);
  --text-color-active: #C5C5C5;
  --link-color-active: rgba(255, 255, 255, 0.5);

  --color-materials: #FFBF47;
  --color-instruments: #3BBCE3;
  --color-technics: #DC91D8;
  --color-discount: #8ED78F;
  --color-delivery: #FFC047;
  --promo-link-color: rgba(255, 255, 255, 0.3);

  --catalog-title-bg: #F7F3EC;
  --border-color: #E5E5E5;

  --shadow-logo: rgba(0, 0, 0, 0.24);
  --nav-list-shadow: #293449;
  --box-shadow: rgba(0, 0, 0, 0.15);

  --scale-bg: #D7DCDE;
    --bar-bg: #00CA74;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--basic-color);
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.cont {
  box-sizing: content-box;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.list-item {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  background: var(--button-color);
  color: var(--basic-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 0;
}

.btn:hover {
  background: var(--button-color-hover);
  color: var(--basic-color);
}

.btn:active {
  background: var(--button-color-active);
}

.title {
  font-size: 30px;
  line-height: 30px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--text-color);
}

.main-title {
  background: var(--main-title-bg);
  padding: 0 14px 0 28px;
  min-height: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-title .title {
  color: var(--accent-color);
  margin: 0;
}

/* Header */

.main-header {
  background: var(--content-bg);
  padding-bottom: 59px;
}

.top-header {
  background: var(--accent-color-dark);
}

.top-header .cont {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 42px;
  width: 940px;
  padding: 0 10px;
}

.header-logo {
  background: var(--button-color);
  min-width: 220px;
  min-height: 42px;
  margin-bottom: -5px;
  box-shadow: inset 0px -5px 0px var(--shadow-logo);
  display: flex;
}

.header-logo img {
  margin: auto;
}

.header-logo:active {
  background: var(--button-color-active);
}

.search {
  flex-grow: 1;
  position: relative;
}

.search svg {
  position: absolute;
  top: 13px;
  left: 17px;
  opacity: 0.3;
}

.search input {
  background: var(--accent-color-dark);
  color: var(--basic-color);
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding-left: 42px;
  border: none;
  outline: none;
}

.search input:hover + svg, .search input:focus + svg {
  opacity: 1;
}

.search input:focus {
  background: var(--basic-color);
  color: var(--text-color);
}

.search input:focus + svg path {
  fill: var(--button-color);
}

.top-nav-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.item-bookmark,
.item-cart,
.item-order {
  box-sizing: border-box;
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.item-bookmark span,
.item-cart span,
.item-order span {
  margin-left: 5px;
}

.complete {
  background: var(--button-color);
}

.item-cart.complete {
  padding-left: 34px;
  margin-left: 15px;
  width: 136px;
}

.item-cart.complete::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 13px;
  left: 12px;
  opacity: 0.3;
}

.item-order {
  justify-content: center;
}

.item-bookmark:hover,
.item-cart:hover,
.item-order:hover {
  color: var(--basic-color);
  text-decoration: none;
}

.item-bookmark {
  padding-left: 43px;
}

.item-cart {
  padding-left: 50px;
}

.item-bookmark::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 12px;
  left: 20px;
  opacity: 0.3;
}

.item-cart::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 12px;
  left: 25px;
  opacity: 0.3;
}

.item-bookmark::before {
  background: url("../img/icon-bookmark.svg") no-repeat 0 0;
}

.item-cart::before {
  background: url("../img/icon-cart.svg") no-repeat 0 0;
}

.item-bookmark:hover::before,
.item-cart:hover::before {
  opacity: 1;
}

.item-bookmark:active {
  background: var(--accent-color-active);
  color: var(--link-color-active);
}

.item-cart:active {
  color: var(--link-color-active);
}

.item-order {
  background: var(--color-details);
}

.item-order:hover {
  background: var(--color-details-hover);
}

.item-details:active {
  opacity: 0.5;
}

/* header middle */

.middle-header {
  padding: 46px 0 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-text {
  color: var(--button-color);
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  margin: 0;
  padding-left: 30px;
}

.number {
  border: 2px solid var(--basic-color);
  color: var(--button-color);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  box-sizing: border-box;
  min-height: 45px;
  width: 270px;
  display: flex;
  align-items: center;
  padding-left: 73px;
  position: relative;
}

.number:hover {
  text-decoration: none;
  color: var(--button-color);
}

.number::before {
  content:"";
  position: absolute;
  top: 11px;
  left: 37px;
  width: 18px;
  height: 19px;
  background: url(../img/icon-phone.svg) no-repeat 0 0;
}

.address {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-top: 3px;
  padding-left: 10px;
}

.user-nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
}

.user-login,
.user-reg {
  background: var(--basic-color);
  color: var(--text-color);
  font-size: 21px;
  line-height: 21px;
  padding: 12px 24px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
}

.user-login {
  padding-left: 47px;
  padding-right: 26px;
  position: relative;
}

.user-login::before {
  content:"";
  position: absolute;
  top: 14px;
  left: 19px;
  width: 20px;
  height: 17px;
  background: url(../img/icon-login.svg) no-repeat 0 0;
}

.user-login:hover,
.user-reg:hover {
  color: var(--button-color);
  text-decoration: none;
}

.user-login:hover::before {
  background: url(../img/icon-login-hover.svg) no-repeat 0 0;
}

.user-login:active,
.user-reg:active {
  color: var(--text-color-active);
}

.nav-list {
  background: var(--accent-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: inset 0px -5px 0px var(--nav-list-shadow);
}

.site-link {
  display: block;
  padding: 18px 28px;
}

.site-link:hover {
  background: var(--accent-color-dark);
  color: var(--basic-color);
  text-decoration: none;
}

.site-link:active {
  background: var(--accent-color-active);
  color: var(--link-color-active);
}

/* Promo */

.promo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 940px;
  min-height: 530px;
  padding: 59px 0;
  box-sizing: border-box;
}

.materials {
  background-color: var(--color-materials);
  background-image: url(../img/icon-1.svg);
  background-position: 213px 55%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  position: relative;
}

.instruments {
  background: var(--color-instruments);
  background-image: url(../img/icon-2.svg);
  background-position: 194px 56%;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.technics {
  background: var(--color-technics);
  background-image: url(../img/icon-3.svg);
  background-position: 191px 50%;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.discount {
  background: var(--color-discount);
  background-image: url(../img/icon-4.svg);
  background-position: 195px 50%;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.delivery {
  background: var(--color-delivery);
  background-image: url(../img/icon-5.svg);
  background-position: 190px 52%;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.promo-item {
  box-sizing: border-box;
  padding: 22px;
  background-repeat: no-repeat;
  overflow: hidden;
}

.new {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: -26px;
  transform: rotate(45deg);
}

.promo-slider {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.promo-title {
  color: var(--basic-color);
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 12px;
}

.promo-link {
  background: var(--promo-link-color);
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
  width: 135px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.promo-link:hover {
  background: var(--basic-color-hover);
  color: var(--basic-color);
  text-decoration: none;
}

.promo-link:active {
  background: var(--basic-color-active);
}

/* Promo slider */

.promo-slider {
  margin: 0;
  padding: 0;
  width: 620px;
  height: 266px;
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  grid-template-rows: 104px 1fr 80px;
}

.btn-back {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  visibility: hidden;
  cursor:pointer;
  position: relative;
}

.btn-back::before {
  content:"";
  position: absolute;
  top: 16px;
  left: 22px;
  width: 21px;
  height: 39px;
  visibility: visible;
  background: url(../img/icon-next.svg) no-repeat 0 0;
}

.btn-next {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  visibility: hidden;
  cursor:pointer;
  position: relative;
}

.btn-next::before {
  content:"";
  position: absolute;
  top: 16px;
  right: 19px;
  width: 21px;
  height: 39px;
  visibility: visible;
  background: url(../img/icon-back.svg) no-repeat 0 0;
}

.slider-item {
  list-style-type: none;
  background: var(--bg-img);
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  min-height: 266px;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  order: 0;
}

.slider-item.active {
  order: 1;
}

.slider-img {
  grid-column: 1 / 4;
  grid-row: 1 / -1;
}

.slider-desc {
  color: var(--basic-color);
  padding: 24px 23px 0;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  order: 1;
}

.slider-desc p {
  margin: 0;
  margin-top: 5px;
}

.slider-btn {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  margin: 24px 24px 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-title {
  color: var(--basic-color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}

.slider-controls {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 2;
}

.conrol-item {
  padding: 0;
  margin: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid;
  border-color: var(--basic-color);
  background: var(--button-color);
  cursor: pointer;
}

.conrol-item.active {
  background: var(--basic-color);
}

/* Popular products */

.popular-products {
  margin-bottom: 70px;
}

.btn-title {
  width: 192px;
  min-height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-list {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  margin: 18px 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px 20px;
}

.products-item {
  list-style-type: none;
  border: 1px solid;
  border-color: var(--border-color);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 20px;
  min-height: 318px;
}

.product-img {
  width: 200px;
  height: 177px;
  object-fit: scale-down;
}

.products-item:hover,
.manufacturers-item:hover {
  box-shadow: 0px 4px 20px var(--box-shadow);
}

.manufacturers-item:active {
  opacity: 0.5;
}

.products-item:hover .product-img {
  display: none;
}

.products-item:hover .btn-block {
  display: block;
}

.pdoruct-img {
  max-width:200px;
}

.btn-block {
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  width: 100%;
  height: 177px;
  display: none;
  padding-top: 38px;
}

.btn-buy,
.btn-bookmark {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 135px;
  min-height: 38px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 2px;
}

.btn-buy {
  color: var(--basic-color);
  background: var(--color-details);
  box-shadow: inset 0px -3px 0px var(--color-details-shadow);
  padding-left: 10px;
  position: relative;
}

.btn-buy:hover {
  background: var(--color-details-hover);
  color: var(--basic-color);
  text-decoration: none;
}

.btn-buy::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  left: 27px;
  background: url("../img/icon-cart.svg") no-repeat 0 0;
  opacity: 0.3;
}

.btn-buy:active {
  background: var(--color-details-active);
}

.btn-bookmark {
  color: var(--accent-color);
  border: 3px solid var(--color-details);
  background: var(--basic-color);
}

.btn-bookmark:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
  text-decoration: none;
}

.btn-bookmark:active {
  border-color: var(--accent-color);
  opacity: 0.5;
}

.product-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--text-color);
  width: 180px;
  text-align: center;
}

.old-price {
  color: var(--bg-img);
  margin-top: 8px;
  margin-bottom: 15px;
  font-weight: bold;
}

.new-price {
  color: var(--basic-color);
  background: var(--button-color);
  background: url(../img/shape.png) no-repeat 100% 0;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 47px 10px 32px;
  margin-left: 10px;
  border-radius: 2px;
}

/* Popular manufacturers*/

.popular-manufacturers.cont {
  padding-bottom: 70px;
}

.popular-manufacturers .main-title {
  padding-right: 19px;
}

.manufacturers-item {
  list-style-type: none;
}

.manufacturers-list {
  margin: 21px 0 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.manufacturers-link {
  min-height: 145px;
  border: 1px solid;
  border-color: var(--border-color);
  background: var(--basic-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Services */

.services {
  background: var(--content-bg);
  padding: 65px 0 99px 0;
  min-height: 522px;
}

.services .title {
  margin: 0 0 23px 0;
}

.text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}

.btn-services {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-color);
  background: var(--accent-color);
  border: none;
  border-bottom: 1px solid #293449;
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
  text-align: left;
  padding-left: 22px;
}

.service-buttons {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 186px;
  gap: 80px;
  margin: 71px 0 0 0;
}

.btn-list {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.services-desc {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background: var(--content-bg);
  display: none;
}

.service-buttons .title {
  color: var(--accent-color);
  margin: 0 0 29px 0;
}

.btn-list {
  display: grid;
  position: relative;
}

.btn-list::after {
  content:"";
  position: absolute;
  top: -40px;
  right: 0;
  width: 10px;
  height: 279px;
  background: url(../img/service-line.png) no-repeat 0 0;
}

.btn-services.active {
  background: var(--basic-color);
  color: var(--accent-color);
  border-bottom-color: var(--basic-color);
  box-shadow: none;
}

.btn-services.active:hover {
  background: var(--basic-color);
}

.btn-services:hover {
  background: var(--accent-color-dark);
}

.wrapper-sections {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 60px 0;
}

.service-delivery {
  background: url(../img/bg-dostavka.png) no-repeat 100% 21px;
}

.service-delivery .text {
  width: 275px;
}

.service-assurance {
  background: url(../img/bg-garantiya.png) no-repeat 100% 0;
}

.service-assurance .text {
  width: 315px;
}

.service-credit {
  background: url(../img/bg-credit.png) no-repeat 100% 0;
}

.service-credit .text {
  width: 279px;
}

.btn-credit {
  width: 195px;
  min-height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 27px;
}

.services-desc.active {
  display: block;
}

 /* Секции about us и contacts */

 .wrapper-sections {
  display: flex;
  justify-content: space-between;
  padding: 70px 0;
}

.wrapper-sections .title {
  margin: 0 0 22px 0;
}

.about-us {
  width: 460px;
}

.about-us p:first-of-type {
  margin-bottom: 26px;
}

.about-us-btn {
  width: 220px;
}

.wrapper-sections .btn {
  padding: 10px 0;
}

.trans-list {
  list-style-type: none;
  padding: 0;
  margin-top: 3px;
  margin-bottom: 21px;
}

.trans-list li {
  position: relative;
  padding-left: 38px;
  margin-bottom: 12px;
}

.trans-list li::before {
  content: "";
  width: 25px;
  height: 2px;
  background: var(--button-color);
  position: absolute;
  top: 12px;
  left: 0;
}

.map-link {
  display: block;
  margin: 35px 0 25px 0;
  width: 300px;
  height: 158px;
}

/* Footer */

.main-footer {
  background: var(--accent-color);
  color: var(--basic-color);
}

.footer-logo {
  background: var(--button-color);
  width: 220px;
  min-height: 68px;
  box-shadow: inset 0px -5px 0px var(--shadow-logo);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link:hover {
  color: var(--basic-color);
}

.nav-link:hover,
.footer-link:hover {
  text-decoration: underline;
}

.nav-link:active,
.footer-link:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-link {
  color: var(--footer-link-color);
}

.footer-link:hover {
  color: var(--footer-link-color);
}

.footer-number {
  color: var(--basic-color);
}

.bottom-footer {
  background: var(--accent-color-dark);
  padding: 34px 0 29px 0;
}

.bottom-footer .cont {
  display: grid;
  grid-template-columns: auto 370px 188px 112px;
}

.bottom-footer p  {
  font-size: 16px;
  line-height: 18px;
  margin: 3px 0 0 0;
}

.copyright {
  grid-column: 1 / 2;
}

.bottom-footer .feedback {
  grid-column: 3 / 4;
}

.bottom-footer .develop {
  grid-column: 4 / 5;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  grid-column: 2 / 3;
}

.social-link {
  background-color: var(--accent-color-active);
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin: 1px;
}

.social-link:hover {
  background-color: var(--button-color);
}

.link-vk {
  background-image: url(../img/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.link-fb {
  background-image: url(../img/icon-fb.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.link-inst {
  background-image: url(../img/icon-insta.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.bottom-footer .footer-link:active {
  text-decoration: none;
  color: var(--button-color);
  opacity: 1;
}

.top-footer {
  display: grid;
  grid-template-columns: 394px 1fr;
}

.middle-footer {
  display: grid;
  grid-template-columns: 416px 1fr;
  padding-bottom: 53px;
}

.footer-nav,
.service-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.footer-nav {
  margin: 37px 0 0 0;
}

.service-nav {
  margin: 27px 0 0 0;
}

.middle-footer p {
  margin: 23px 0 0 3px;
}

 /* Catalog */

 .profile {
  background: var(--basic-color);
  width: 100%;
  padding: 13px 0;
  display: flex;
}

.profile-link {
  font-size: 21px;
  line-height: 21px;
  color: var(--text-color);
  padding-left: 56px;
  background: url(../img/icon-user.svg) no-repeat 15px 0;
}

.profile-link:hover {
  background-image: url(../img/icon-user-hover.svg);
  text-decoration: none;
}

.profile-link:active {
  color: var(--text-color-active);
  background-image: url(../img/icon-user.svg);
}

.profile-exit {
  width: 20px;
  height: 17px;
  margin: auto;
  background: url(../img/icon-login-exit.svg) no-repeat 0 0;
}

.profile-exit:hover {
  background: url(../img/icon-login-exit-hover.svg) no-repeat 0 0;
}

.profile-exit:active {
  background-image: url(../img/icon-login.svg);
}

.profile-list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.link-orders,
.link-cp {
  color: var(--accent-color);
  font-size: 16px;
  line-height: 18px;
}

.link-cp {
  padding-left: 32px;
  position: relative;
}

.link-cp::before {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  top: 48%;
  left: 14px;
  border-radius: 50%;
  background: var(--accent-color);
}

.link-orders:hover,
.link-cp:hover {
  color: var(--button-color);
  text-decoration: none;
}

.catalog .wrapper-catalog {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 20px;
}

.wrapper-catalog .products-list {
  grid-template-columns: repeat(3, 1fr);
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 21px 0;
}

.item-crumbs {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style-type: none;
  padding: 0px 20px 0 21px;
  position: relative;
}

.item-crumbs:first-child {
  padding-left: 0;
}

.item-crumbs::after {
  content: "";
  position: absolute;
  bottom: 3px;
  right: -1px;
  width: 8px;
  height: 8px;
  border-top: 1px solid #A9A9A9;
  border-right: 1px solid #A9A9A9;
  transform: rotate(45deg);
}

.item-crumbs:last-child::after {
  visibility: hidden;
}

.home {
  padding-left: 14px;
  position: relative;
}

.home::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 14px;
  height: 12px;
  background: url(../img/icon-home.svg) no-repeat 0 0;
}


.link-crumbs {
  color: var(--text-color);
}

.catalog-title {
  background: var(--content-bg);
  padding: 0 0 0 29px;
  margin-bottom: 20px;
  min-height: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-title .title {
  color: var(--accent-color);
}

/* Filter */

.filter,
.sort,
.filter-title {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  font-style: normal;
}

.sort,
.filter-title {
  background: var(--catalog-title-bg);
}

.filter-title {
  padding: 0 18px;
  margin: 0;
  min-height: 38px;
  display: flex;
  align-items: center;
}

/* Диапазон цены в фильтре */

.filter-range {
  width: 100%;
}

.range-controls {
  background: var(--main-title-bg);
  padding: 39px 20px 39px;
  position: relative;
  border-radius: 5px;
}

.range-controls .scale {
  background: var(--scale-bg);
  height: 2px;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--bar-bg);
}

.range-controls .toggle {
  width: 4px;
  height: 4px;
  border: 8px solid #FFFFFF;
  border-radius: 50%;
  background-color: #ABABAB;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  position: absolute;
  top: 30px;
  left: 0;
  cursor: pointer;
  box-sizing: content-box;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  margin: 9px 0 0;
  display: flex;
  justify-content: space-between;
}

.price-controls input {
  border-radius: 5px;
}

.price-controls .price-label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  margin: 0;
}

.price-controls .price-text {
  border: none;
  box-sizing: border-box;
  width: 95px;
  min-height: 38px;
  padding: 7px;
  text-align: center;
  background: var(--main-title-bg);
}

.price-controls span {
  height:20px;
  align-self: center;
}

/* Чекбоксы в фильтре */

.filter-label {
  padding-left: 35px;
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  font-size: 15px;
  line-height: 19px;
}

.filter .list-item {
  margin-bottom: 20px;
}

.filter .list-item:last-of-type {
  margin-bottom: 0;
}

.filter-checkbox + .filter-label::before {
  content: "";
  width: 27px;
  height: 23px;
  position: absolute;
  bottom: -2px;
  left: -2px;
  background: url(../img/check.svg) no-repeat 0 0;
}

.filter-checkbox:checked + .filter-label::before {
  content: "";
  width: 27px;
  height: 23px;
  position: absolute;
  bottom: -2px;
  left: -2px;
  background: url(../img/check-on.svg) no-repeat 0 0;
}

.filter-radio + .filter-label::before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: -5px;
  left: -2px;
  border: 4px solid;
  border-color: var(--text-color-active);
  border-radius: 50%;
  box-sizing: content-box;
}

.filter-radio:checked + .filter-label::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 3px;
  left: 6px;
  background: var(--text-color-active);
  border-radius: 50%;
}

.sort {
  box-sizing: border-box;
  min-height: 38px;
  display: grid;
  grid-template-columns: 240px 360px 99px;
  margin-bottom: 27px;
}

.sort-title {
  grid-column: 1 / 2;
  margin: auto 0;
  padding-left: 19px;
}

.sort-list {
  box-sizing: border-box;
  padding: 0;
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-between;
  margin: auto 0;
}

.sort-item:last-of-type {
  margin-right: 5px;
}

.scroll-list {
  padding: 0;
  grid-column: 3 / 4;
  display: flex;
  margin: auto 0;
}

.filter-set {
  box-sizing: border-box;
  padding: 0 0 25px 0;
  margin: 0;
  border: none;
  border-bottom: 1px solid;
  border-color: var(--border-color);
}
legend {
  margin-bottom: 0;
}

.filter-set:last-of-type {
  border-bottom: none;
}

.filter-set ul {
  padding: 0;
  margin: 9px 0 0;
}

.set-title {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  padding: 13px 0 12px 0;
  border: none;
}

.set-supply {
  padding: 18px 0 17px 0;
}

.filter-btn {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  font-style: normal;
  color: var(--text-color);
  background: var(--basic-color);
  border: 1px solid;
  border-color: var(--border-color);
  padding: 9px 0;
  width: 100%;
  min-height: 38px;
  cursor: pointer;
  margin-top: 13px;
}

/* Сортировка */

.sort-item,
.scroll-item {
  list-style-type: none;
}

.sort-btn {
  color: var(--text-color-opacity);
  border-bottom: 1px dotted;
  border-color: var(--button-color);
}

.sort-btn:hover {
  color: var(--text-color);
  border-bottom: 1px solid;
  border-color: var(--button-color);
  text-decoration: none;
}

.scroll-list {
  display: flex;
  justify-content: space-around;
  padding-left: 27px;
}

.scroll-btn {
  color: var(--text-color-opacity);
}

.scroll-up {
  display: block;
  width: 11px;
  height: 10px;
  background: url(../img/arrow-high.svg) no-repeat 0 0;
}

.scroll-up:hover {
  background: url(../img/arrow-high-hover.svg) no-repeat 0 0;
}

.scroll-up.active {
  background: url(../img/arrow-high-active.svg) no-repeat 0 0;
}

.scroll-down {
  display: block;
  width: 11px;
  height: 10px;
  background: url(../img/arrow-low.svg) no-repeat 0 0;
}

.scroll-down:hover {
  background: url(../img/arrow-low-hover.svg) no-repeat 0 0;
}

.scroll-down.active {
  background: url(../img/arrow-low-active.svg) no-repeat 0 0;
}

.scroll-btn:hover {
  color: var(--text-color);
}

.sort-btn.active,
.scroll-btn.active {
  color: var(--button-color);
  border: none;
}

/* Пагинация */

.pag {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0;
  margin: 48px 0 50px 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.pag-item {
  list-style-type: none;
  margin-right: 9px;
  margin-bottom: 9px;
}

.pag-link {
  display: block;
  color: var(--text-color);
  border: 1px solid;
  border-color: var(--border-color);
  box-sizing: border-box;
  border-radius: 2px;
  padding: 10px 15px;
}

.pag-link:hover {
  border-color: var(--text-color-active);
}

.pag-link:active {
  border-color: var(--button-color);
}

.pag-link.active {
  background: var(--button-color);
  color: var(--basic-color);
}

.pag-next {
  padding: 10px 31px;
}

/* Статья */

.article {
  background: var(--content-bg);
  padding: 64px 0 71px;
}

.article .title {
  margin: 0 0 23px 0;
}

/* Модальные окна */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #F4F4F4;
  border-top: 7px solid;
  border-color: var(--button-color);
  box-shadow: 0px 4px 20px var(--box-shadow);
}

.modal-user {
  display: none;
  box-sizing: border-box;
  width: 620px;
  min-height: 430px;
  top: 120px;
  bottom: auto;
}

.modal-map {
  display: none;
  box-sizing: border-box;
  width: 940px;
  min-height: 449px;
  top: 120px;
  bottom: auto;
}

.modal-map iframe {
  border: none;
}

.modal-close {
  position: absolute;
  top: 14px;
  right: 11px;
  width: 22px;
  height: 22px;
  background: url(../img/icon-close.svg) no-repeat 0 0;
  border: 0;
  cursor: pointer;
}

.user-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 20px;
  padding: 39px 80px 30px;
  background: var(--basic-color);
}

.form-name input,
.form-mail input,
.form-text textarea
 {
  box-sizing: border-box;
  width: 100%;
  margin-top: 11px;
  padding: 5px 10px;
  border: 2px solid;
  border-color: #C5C5C5;
  border-radius: 2px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--bg-img);
}

.form-text {
  grid-column: 1 / -1;
}

.form-text textarea {
  height: 114px;
}

.form-btn {
  box-sizing: border-box;
  width: 460px;
  padding: 10px 0;
  margin: 37px 80px;
}

.modal-complete-cart {
  display: block;
  width: 620px;
  min-height: 280px;
  top: 120px;
  bottom: auto;
}

.complete-cart-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--text-color);
  text-align: center;
  margin: 0;
  padding: 69px 99px 68px;
  background: var(--basic-color);
  position: relative;
}

.complete-cart-title::before {
  content: "";
  display: block;
  position: absolute;
  top: 51px;
  left: 81px;
  width: 66px;
  height: 66px;
  background: url(../img/icon-mark.svg) no-repeat 0 0;
}

.comlete-cart-buttons {
  display: flex;
  justify-content: center;
}

.btn-complete-cart {
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  width: 192px;
  margin: 37px 5px;
  padding: 10px 0;
  cursor: pointer;
}

.modal-btn-buy {
  border: none;
  background: var(--basic-color);
}

.show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
